<div class="hero">
  <div class="hero-image"><img class="slow-grow" src="./assets/Circus.jpg"/></div>
  <div class="hero-text">
      <iframe width="0" height="0" src="https://www.youtube.com/embed/1D5Sa2Yq-2g?ecver=1&amp;autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <!-- questionsBox -->
   
    <div class="col-lg-4 shadowbox" >
       
      <!-- show the questions title -->
      <h1 class="color">Questions {{ quiz.currentQuestion+1}}: {{quiz.questions[quiz.currentQuestion].question}}</h1>
   
    <div class="row d-flex justify-content-center mt-5">
      <div class="col-lg-4 p-5 text-center m-auto width- ">
        <div class="color size p-1 m-1" *ngFor="let choice of quiz.questions[quiz.currentQuestion].choices">
            <input [value]="choice.value" type="radio" [(ngModel)]="quiz.questions
            [quiz.currentQuestion].selectedAnswer">
              <img  *ngIf="choice.image.length > 0" src="{{ choice.image }}" width="175px"> 
            {{ choice.answer }}
              </div>
          </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-3">
      <div class="col-lg-4 d-flex justify-content-between text-center">
        <button (click)="quiz.goPreviousQuestion()" class="btn btn-danger">&laquo;Previous</button>
        <button (click)="quiz.goNextQuestion()" class="btn btn-success">Next&raquo;</button>
      </div>
    </div>
  </div>
 </div>