.hero {
    height: 100vh;
    overflow: hidden;
  
    font-family: "Alfa Slab One", bold;
    align-content: center;
  }
  .col-lg-4{
    padding-top: 100px;
    max-width: 100%;
    flex: 100%;
    padding-left: 3em;
  }
  .size{
    font-size: 40px;
  }
  .color{
    color: #fff;
  }
  .hero-text {
    
    padding-left: 20rem;
    padding-right: 20rem;
    
    align-content: center;
    position: absolute;
    top: 1rem;
    left: 0;
    
    
    z-index: 50;
    text-align: center;
  }
  .hero-text h1 {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-weight: 600;
  }
  


  
  .hero-image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
  }
  .hero-image img {
      height: 1200px;
    width: 1440px;
    margin-top: -25%;
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
  }
  .slow-grow {
    -webkit-animation: grow 110000ms ease;
            animation: grow 110000ms ease;
  }
  
  @-webkit-keyframes grow {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
  }
  
  @keyframes grow {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
  }