<div class="hero">
  <div class="hero-image"><img class="slow-grow" src="/assets/Circus.jpg"/></div>
  <div class="hero-text">
    <!-- questionsBox -->
    <div class="questionsBox">
    <div class=" col-lg-4 text-center m-auto width-">
      <!-- show the questions title -->
      <h1 class="color">Questions {{ quiz.currentQuestion+1}}: {{quiz.questions[quiz.currentQuestion].question}}</h1>
    </div>
    <div class="row d-flex justify-content-center mt-5">
      <div class="col-lg-4 p-5 text-center m-auto width- ">
        <div class="color size p-1 m-1" *ngFor="let choice of quiz.questions[quiz.currentQuestion].choices">
            <input [value]="choice.value" type="radio" [(ngModel)]="quiz.questions
            [quiz.currentQuestion].selectedAnswer">
              <img  *ngIf="choice.image.length > 0" src="{{ choice.image }}" width="175px"> 
            {{ choice.answer }}
              </div>
          </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-3">
      <div class="col-lg-4 d-flex justify-content-between text-center">
        <button (click)="quiz.goPreviousQuestion()" class="btn-danger"><a href="#" class="previous">&laquo;Previous</a></button>
        <button (click)="quiz.goNextQuestion()" class="btn btn-success"><a href="#" class="next">Next&raquo;</a></button>
      </div>
    </div>
  </div>
 </div>