.resultBG {
    /* The image used */
    background-image: url("https://media2.giphy.com/media/10TI5vPyELuuHu/giphy.gif");

    /* Set a specific height */
    height: 800px; 
    top: 0;
    left: 0;
    width: 100%;


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.col  {
        color: white;
}

button {
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.0);
    font-size: 80px;
    border: none;
    color: red !important; 
}
.ticket {
    color: #ffec7fe7;  
}
.css3-notification {
    font-size: 2em;
    text-align: center;
    padding: 10px;
  
    color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .3);
    text-transform: uppercase;
    position: relative;
    font-weight: bold;
  }

  i:hover{
    opacity: 0.8;
  }
  h1 {
    font-family: 'Sancreek', cursive;
    color: yellow !important;
    font-size: 4em !important;
  }

  .typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }