<div class="video-background">
    <div class="video-foreground">
        <iframe src="https://www.youtube.com/embed/500CVruIS_0?start=6&controls=0&showinfo=0&rel=0&autoplay=1&mute=1&loop=1&playlist=500CVruIS_0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

<div id="vidtop-content">
<div class="vid-info">
	  <h1>What circus performer are you??</h1>
	  <p>Are you the ring master? An acrobat? The Bearded Lady or the silly clown?
     <p>
<!-- Ticket button -->
  <button>
      <i class="fas fa-ticket-alt"></i> click the ticket to begin
    </button>
  </div>
</div>