/* body {
    height: 100%;
    background-image: url("https://orig00.deviantart.net/8203/f/2013/283/b/b/fortune_teller_by_kyrukai-d6pwt2f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */
.col {
    background: #a156e77a;
}
button {
    background: #a156e77a;
    padding: 0;
    margin: 0;
}