<!-- video background -->
<div class="video-background">
    <div class="video-foreground">
        <iframe src="https://www.youtube.com/embed/500CVruIS_0?start=6&controls=0&showinfo=0&rel=0&autoplay=1&mute=1&loop=1&playlist=500CVruIS_0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
<!-- Content -->
<div id="vidtop-content" class="float-left">
<div class="vid-info text-center">
	  <h1 class="pt-3" >What circus performer are you??</h1>
	  <p>Are you the ring master? An acrobat? The Bearded Lady or the silly clown?
     <p>
    <!-- Ticket button -->
    <a routerLink="question/1">
      <button> 
         <i class="fas fa-ticket-alt"></i>
        </button></a>
        <p class="ticket">click the ticket to begin</p>
  </div>
</div>